<div class="row">
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card dashboard-info-card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{{ asset('nice-admin/assets/img/circle.png') }}" class="card-img-absolute" alt="circle-image">
                <div class="row">
                    <div class="col col-md-10">
                        <h5 class="font-weight-normal mb-3">Registered Patients<i
                                    class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h5>
                        <h5 class="mb-2">72</h5>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-3 stretch-card grid-margin">
        <div class="card dashboard-info-card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="{{ asset('nice-admin/assets/img/circle.png') }}" class="card-img-absolute" alt="circle-image">
                <div class="row">
                    <div class="col col-md-10">
                        <h5 class="font-weight-normal mb-3">Technicians
                        </h5>
                        <h5 class="mb-2">7</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 stretch-card grid-margin">
        <div class="card dashboard-info-card bg-gradient-users card-img-holder text-white">
            <div class="card-body">
                <img src="{{ asset('nice-admin/assets/img/circle.png') }}" class="card-img-absolute" alt="circle-image">
                <div class="row">
                    <div class="col col-md-10">
                        <h5 class="font-weight-normal mb-3">Today's Report Count<i
                                    class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h5>
                        <h5 class="mb-2">42</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 stretch-card grid-margin">
        <div class="card dashboard-info-card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="{{ asset('nice-admin/assets/img/circle.png') }}" class="card-img-absolute" alt="circle-image">
                <div class="row">
                    <div class="col col-md-10">
                        <h5 class="font-weight-normal mb-3">Today's Appointment Count<i
                                    class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h5>
                        <h5 class="mb-2">21</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
