<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
            <p>At AutomicLab, we're dedicated to delivering unparalleled excellence in healthcare. With a focus on
                innovation, precision, and patient-centered care, we strive to provide the highest quality laboratory
                services to our community. Our team of expert technicians, supported by state-of-the-art technology,
                ensures accurate and reliable test results. Committed to transparency and affordability, we aim to make
                healthcare accessible to all. Trust us for comprehensive diagnostic solutions and compassionate support,
                guiding you towards better health outcomes every step of the way.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="{{ asset('web/about-4.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                <ul>
                    <li><i class="bi bi-check-circle"></i> Our laboratory is equipped with state-of-the-art technology
                        and staffed by highly skilled professionals to ensure accurate and reliable test results
                    </li>
                    <li><i class="bi bi-check-circle"></i> We prioritize the needs and preferences of our patients,
                        providing personalized service and support throughout their healthcare journey.
                    </li>
                    <li><i class="bi bi-check-circle"></i> We actively engage with the community through outreach
                        programs, health fairs, and educational initiatives to promote health and wellness.
                    </li>
                    <li><i class="bi bi-check-circle"></i> We believe in transparent pricing, ensuring that quality
                        healthcare services are accessible and affordable to all.
                    </li>
                    <li><i class="bi bi-check-circle"></i> Our dedicated support team is available 24/7 to assist
                        patients with any questions or concerns they may have.
                    </li>
                    <li><i class="bi bi-check-circle"></i> We leverage the latest advancements in laboratory technology,
                        including automated analyzers and molecular diagnostics, to deliver comprehensive testing
                        services.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>