<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('{{ asset('web/carousel-1.jpg') }}');)">
            <div class="container">
                <h2>Welcome to <span>AutomicLab</span></h2>
                <p>AutomicLab - where precision meets excellence in healthcare diagnostics! As an award-winning laboratory center, we're dedicated to providing cutting-edge services and accurate results to support your health journey. Trust in our expertise, experience, and commitment to your well-being. Welcome to a new era of healthcare innovation</p>
                <a href="#about" class="btn-get-started scrollto">Read More</a>
            </div>
        </div>
    </div>
</div>