<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>In Need of Urgent Testing? Get Immediate Assistance for Medical Tests Here!</h3>
            <p> Facing a medical emergency and need immediate testing? Look no further. Our 24/7 support ensures
                swift assistance for urgent medical tests, providing peace of mind during critical moments.</p>
            <a class="cta-btn scrollto" href="#appointment">Make an Appointment</a>
        </div>

    </div>
</section>