<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-trophy"></i></div>
                    <h4 class="title"><a href="">Award Winning</a></h4>
                    <p class="description">Explore our award-winning laboratory, where excellence meets innovation. Discover why we're recognized for our commitment to quality healthcare and patient satisfaction.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-user-md"></i></div>
                    <h4 class="title"><a href="">Expert Lab Technicians</a></h4>
                    <p class="description">Meet our skilled lab technicians, experts in precision diagnostics. With their years of experience and dedication, they ensure accurate results and top-notch care for every patient</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-tags"></i></div>
                    <h4 class="title"><a href="">Fair Prices</a></h4>
                    <p class="description">Discover transparent pricing for quality healthcare. Our commitment to fair prices ensures accessible laboratory services without compromising on excellence</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="fas fa-headset"></i></div>
                    <h4 class="title"><a href="">24/7 Support</a></h4>
                    <p class="description">Get round-the-clock support from our team. Whether it's questions about results or scheduling, we're here for you 24/7, ensuring your peace of mind</p>
                </div>
            </div>

        </div>

    </div>
</section>