<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p>we are committed to providing high-quality diagnostic services to meet your healthcare needs. Our state-of-the-art laboratory is equipped with advanced technology and staffed by experienced professionals, ensuring accurate and reliable test results. From routine blood tests to specialized genetic screenings, we offer a wide range of diagnostic services designed to empower you to take control of your health. Whether you're seeking preventive screenings, monitoring chronic conditions, or investigating specific health concerns, trust us to deliver exceptional care and support throughout your healthcare journey</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-tint"></i></div>
                <h4 class="title"><a href="">Blood Test</a></h4>
                <p class="description">Our comprehensive blood tests provide valuable insights into your overall health and help diagnose various medical conditions. From cholesterol levels to blood cell counts, we offer a wide range of blood tests to meet your healthcare needs.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-tint-slash"></i></div>
                <h4 class="title"><a href="">Urine Test</a></h4>
                <p class="description">Our urine tests are designed to detect a variety of conditions, including urinary tract infections, kidney disease, and diabetes. With accurate and timely results, we help you maintain optimal urinary health</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-microscope"></i></div>
                <h4 class="title"><a href="">Microbiology Test</a></h4>
                <p class="description">Our microbiology tests analyze samples to identify and diagnose infectious diseases caused by bacteria, viruses, fungi, and parasites. From throat swabs to stool cultures, we offer a comprehensive range of microbiology tests to aid in diagnosis and treatment.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-dna"></i></div>
                <h4 class="title"><a href="">Genetic Testing</a></h4>
                <p class="description">Genetic testing provides valuable insights into your genetic makeup and susceptibility to certain diseases. Our advanced genetic tests help identify genetic mutations and assess your risk of inherited conditions, empowering you to make informed decisions about your health.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-flask"></i></div>
                <h4 class="title"><a href="">Hormone Testing</a></h4>
                <p class="description">Hormone testing evaluates hormone levels in the body, helping diagnose hormonal imbalances and disorders such as thyroid dysfunction, adrenal disorders, and reproductive issues. Our hormone tests provide valuable information for managing and optimizing your hormonal health</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-ribbon"></i></div>
                <h4 class="title"><a href="">Cancer Screening</a></h4>
                <p class="description">Our cancer screening tests detect early signs of cancer, allowing for timely intervention and treatment. From mammograms to colonoscopies, we offer a range of screening tests tailored to your age, gender, and risk factors, helping you prioritize your health and well-being.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-allergies"></i></div>
                <h4 class="title"><a href="">Allergy Testing</a></h4>
                <p class="description"> Our allergy tests identify specific allergens that trigger allergic reactions, helping you understand and manage your allergies more effectively. From skin prick tests to blood tests, we offer comprehensive allergy testing services to pinpoint your allergens and develop personalized treatment plans.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-x-ray"></i></div>
                <h4 class="title"><a href="">Diagnostic Imaging</a></h4>
                <p class="description"> Our diagnostic imaging services utilize advanced imaging technologies such as X-rays, MRIs, CT scans, and ultrasounds to visualize internal structures and diagnose medical conditions. With state-of-the-art equipment and experienced radiologists, we provide accurate and detailed imaging studies to guide your healthcare decisions</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <h4 class="title"><a href="">Cardiac Testing</a></h4>
                <p class="description">Our cardiac testing services help assess the health of your heart and detect cardiovascular conditions. From electrocardiograms (ECGs) to stress tests, we offer a comprehensive range of cardiac tests to evaluate heart function, identify abnormalities, and reduce the risk of heart disease.</p>
            </div>
        </div>

    </div>
</section>