<div class="tests">
    <div class="row mt-3 testsDelete">
        <div class="col col-md-4 mb-3">
            {{ form_widget(tests.testName, {'attr':{'class':"form-control"}}) }}
            <div class="form-error">
                {{ form_errors(tests.testName) }}
            </div>
        </div>
    </div>
</div>
