<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>AutomicLab</h3>
                        <p>
                            123 Galle Road, <br>
                            Colombo 3, Sri Lanka<br><br>
                            <strong>Phone:</strong> 011 851 3407<br>
                            <strong>Email:</strong> info@automiclab.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Blood Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Urine Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Microbiology Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Genetic Testing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hormone Testing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Cancer Screening</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Diagnostic Imaging</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Cardiac Testing</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Stay in the loop with our newsletter! Get health tips, updates, and exclusive offers delivered to
                        your inbox. Sign up now!</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Indhuja.Sidh</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->