<div class="modal fade" id="categoryEntryModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="#dataFormUserEntry">
                <div class="modal-body m-3">
                    <div class="text-center">
                        <input type="hidden" id="city-id" value="0">
                        <div class="m-3">
                            <label for="city-name mt-1" class="col-form-label">Category Name</label>
                            <input type="text" class="form-control mt-2" id="categoryName">
                        </div>
                        <div class="mt-4">
                            <button type="button" class="btn close-model" data-bs-dismiss="modal">Cancel</button>
                            &nbsp;
                            <button type="button" class="data-save-btn btn save-model">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>